# SEATTLE ACCIDENT DATA

## 1.0 PROBLEM STATEMENT

In [ ]:
Impact of traffic?

## 2.0 EXPLORATORY ANALYSIS

In [52]:
#Option
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Import library
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load datasets
acd = pd.read_csv(r'C:\Users\yikha\Documents\GitHub\Coursera_Capstone\Data\Data-Collisions.csv',index_col = 'OBJECTID',
                 dtype = {"SDOTCOLNUM" : "object", "SDOT_COLCODE" : "object"})
acd

C:\Users\yikha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
# Check whether there are duplicate records
chkuniqueid = acd.index.duplicated(keep=False)
np.unique(chkuniqueid, return_counts=True)

(array([False]), array([194673], dtype=int64))

In [46]:
acd.iloc[:,33]

OBJECTID
1                                         Entering at angle
2         From same direction - both going straight - bo...
3                                    One parked--one moving
4                          From same direction - all others
5                                         Entering at angle
                                ...
219543      From opposite direction - both moving - head-on
219544    From same direction - both going straight - bo...
219545    From opposite direction - one left turn - one ...
219546                         Vehicle Strikes Pedalcyclist
219547    From same direction - both going straight - on...
Name: ST_COLDESC, Length: 194673, dtype: object

In [47]:
acd['SDOTCOLNUM'].dtype

dtype('O')

In [40]:
# Check the data type of all column
acd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194673 entries, 1 to 219547
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   INCKEY          194673 non-null  int64
 4   COLDETKEY       194673 non-null  int64
 5   REPORTNO        194673 non-null  object
 6   STATUS          194673 non-null  object
 7   ADDRTYPE        192747 non-null  object
 8   INTKEY          65070 non-null   float64
 9   LOCATION        191996 non-null  object
 10  EXCEPTRSNCODE   84811 non-null   object
 11  EXCEPTRSNDESC   5638 non-null    object
 12  SEVERITYCODE.1  194673 non-null  int64
 13  SEVERITYDESC    194673 non-null  object
 14  COLLISIONTYPE   189769 non-null  object
 15  PERSONCOUNT     194673 non-null  int64
 16  PEDCOUNT        194673 non-null  int64
 17  PEDCYLCOUNT     194673 non-null  int64
 18  VEHCOUNT        194673 non-null  int64
 19  INCDATE         194673 non-null  object
 20  INCDTTM         194673 non-null  object
 21  JUNCTIONTYPE    188344 non-null  object
 22  SDOT_COLCODE    194673 non-null  object
 23  SDOT_COLDESC    194673 non-null  object
 24  INATTENTIONIND  29805 non-null   object
 25  UNDERINFL       189789 non-null  object
 26  WEATHER         189592 non-null  object
 27  ROADCOND        189661 non-null  object
 28  LIGHTCOND       189503 non-null  object
 29  PEDROWNOTGRNT   4667 non-null    object
 30  SDOTCOLNUM      114936 non-null  object
 31  SPEEDING        9333 non-null    object
 32  ST_COLCODE      194655 non-null  object
 33  ST_COLDESC      189769 non-null  object
 34  SEGLANEKEY      194673 non-null  int64
 35  CROSSWALKKEY    194673 non-null  int64
 36  HITPARKEDCAR    194673 non-null  object
dtypes: float64(3), int64(10), object(24)
memory usage: 56.4+ MB

In [36]:
# Drop redundant columns
acd['SEVERITYCODE'].equals(acd['SEVERITYCODE.1'])
acd.drop(columns=['SEVERITYCODE.1'])

#Treat datatype
acd['SDOTCOLNUM'].astype('object')
acd['SDOT_COLCODE'].astype('object')
acd.todatetime(acd[[]])

,SEVERITYCODE,X,Y,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,2,-122.323148,47.703140,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
2,1,-122.347294,47.647172,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
3,1,-122.334540,47.607871,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
4,1,-122.334803,47.604803,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
5,2,-122.306426,47.545739,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219543,2,-122.290826,47.565408,309534,310814,E871089,Matched,Block,NaN,34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
219544,1,-122.344526,47.690924,309085,310365,E876731,Matched,Block,NaN,AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
219545,2,-122.306689,47.683047,311280,312640,3809984,Matched,Intersection,24760.0,20TH AVE NE AND NE 75TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
219546,2,-122.355317,47.678734,309514,310794,3810083,Matched,Intersection,24349.0,GREENWOOD AVE N AND N 68TH ST,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
219547,1,-122.289360,47.611017,308220,309500,E868008,Matched,Block,NaN,34TH AVE BETWEEN E MARION ST AND E SPRING ST,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

## 3.0 DATA PREPARATION

## 4.0 MODELLING

## 5.0 DISCUSSION